
	<footer id="footer">
		<span class="copyright">&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a>. 
		Design: <a href="http://html5up.net/aerial">HTML5 UP</a>.</span>
	</footer>
